{% extends "index.html" %}
{% block main %}
<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-12 block wow fadeInLeftBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
      <div class="center">
        <h2 class="text-center">Data Processing Agreement</h2>
        <p><strong>This agreement is between</strong></p>
<p><strong>Data Processor or {{product_name}}:</strong> {{crm_name}},  an online product registered in India<br>
and<br>
<strong>Data Controller or Publisher:</strong> a person or company that controls the personal data processed using {{product_name}} Services.
</p><br>

<h3>Definitions</h3>
<p><strong>Website:</strong> {{crm_name}} and any of its subdomains. <br>
<strong>Service or Services:</strong> all content, services and products available at, or through the Website, 
  including, but not limited to, advertising using {{product_name}} advertising platform or API.</br>
<strong>API:</strong> Automated application programming interface to connect {{product_name}} Services with other websites, servers
      or applications.</br>
<strong>Personal Data:</strong> any information relating to an identifiable person who can be directly or indirectly identified
    in particular by reference to an identifier.</br>
<strong>Data Subject:</strong> an individual to whom Personal Data relates.</br>
<strong>Data Processing:</strong> processing of data on behalf of the Data Controller.<br>
<strong>GDPR:</strong> General Data Protection Regulation (EU) 2016/679</p><br>

<h3>Processing Of Personal Data</h3>
        <p><strong>Roles of the Parties.</strong>The parties acknowledge and agree that with regard to the Processing of Personal Data, Publisher is the Controller and {{product_name}} is the Data Processor.</p>
        <p><strong>Publisher’s Processing of Personal Data.</strong>Publisher shall, in its use of the Services and provision of
          instructions, Process Personal Data in accordance with the requirements of applicable Data Protection Law. Publisher shall
          have sole responsibility for the accuracy, quality, and legality of Personal Data and the means by which Publisher acquired
          Personal Data. If {{product_name}} believes or becomes aware that any of Publisher’s instructions conflicts with any Data Protection Laws,
          {{product_name}} shall inform Publisher. Publisher shall have sole responsibility for the accuracy, quality, and legality of Personal Data
          and the means by which Publisher obtained the Personal Data.</p>
        <p><strong>{{product_name}} Processing of Personal Data</strong>As Publisher’s Processor, {{product_name}} shall only Process Personal Data for the
          following purposes: (i) Processing required to provide the Services in accordance with the Agreement; and
          (ii) Processing to comply with other reasonable instructions provided by Publisher that are consistent with the terms
          of the Agreement. {{product_name}} acts on behalf of and on the instructions of Publisher in carrying out all Processor responsibilities.
          {{product_name}} shall process Personal Data in accordance with the requirements of the Data Protection Laws and Publisher will
          ensure that its instructions for the Processing of Personal Data shall comply with the Data Protection Laws.</p><br>

<h3>General</h3>
<p>It is agreed that by signing this Data Protection Agreement any previous Data Protection Agreements between the Data
  Controller and Data Processor are terminated with immediate effect. Nothing within this contract relieves the Data Processor
  nor the Data Controller of its own direct responsibilities and liabilities under the GDPR.</p>

<p>The Data Processor processes large amount of Personal Data, therefor it has appointed data protection officer: 
  Mr Kamta Prasad Singh (contact DPO: admin@elearning.org).</p>

<p>The Data Processor provides the Data Controller with whatever information it needs to ensure they both meet the obligations 
  under GDPR. The Data Controller is responsible for maintaining Data Subjects’ rights. The Data Processor assists the Data 
  Controller allowing Data Subjects to exercise their rights.</p>

<p>The Data Processor ensures that people accessing the Personal Data are subject to a duty of confidence. The Data Processor
  may not use sub-processors without the prior written authorisation of the Data Controller.</p>

<p>The Data Processor will keep all Personal Data confidential and not disclose such data to third parties unless it has been 
  authorised by the Data Controller or is required by law.</p><br>

<h3>Lawful Basis</h3>
<p>The Data Controller must have a lawful basis before beginning processing and should document it. The Data Processor reserves 
  the right to ask the Data Controller for their documented lawful basis for processing. If requested the Data Controller must 
  present their documented lawful basis for processing immediately but not later than 7 days.</p><br>

<h3>Cross Border Transfer of Personal Data</h3>
<p>The Data Processor stores and processes Personal Data on its servers in the India only.</p><br>

<h3>Rights Of Data Subject</h3>
        <p><strong>Data Subject Requests.</strong>{{product_name}} shall, to the extent legally permitted and as may reasonably be expected,
          promptly notify Publisher if it receives any requests from a Data Subject to exercise the following Data Subject
          rights: access, rectification, restriction of Processing, erasure (“right to be forgotten”), data portability,
          objection to the Processing, or to not be subject to an automated individual decision making (each, a “Data Subject Request”).
          To the extent Publisher, in its use or receipt of the Services, does not have the ability to action on a Data Subject Request,
          as required by Data Protection Laws, {{product_name}} shall promptly comply,
          if in a position to do so, with all reasonable requests by Publisher to facilitate such actions to the extent
          {{product_name}} is legally permitted and reasonably able to do so. To the extent legally permitted, Publisher shall be
          responsible for any costs arising from {{product_name}} provision of such assistance, including any fees associated with
          provision of additional functionality.</p>

<p>The data is processed automatically on the Data Processor’s servers, without human interaction. If the Data Controller 
  requests, or in certain cases when Data Processor wishes to review user activities, the Data Processor’s colleagues 
  have the right to review files uploaded and result files provided on the Data Processor’s Website. In case the Data
  Processor need to investigate a complaint, the Data Processor might process or re-process data through its system. 
  The Data Processor makes sure the colleagues are vetted and trained before allowing them to complete any review. 
  This review happens in a safe environment, all files are deleted after review.</p>

<p>From time to time the Data Processor might use contractors to develop its Services. These contractors must specifically
  agree not to use data other than specifically requested by the Data Processor. All employees and contractors of the Data 
  Processor accessing Personal Data are required to sign a non-disclosure agreement. The Data Processor completes data 
  protection impact assessments at least once a year and takes necessary actions to improve data security if any improvement
  areas are found.</p><br>

<h3>Deletion of Personal Data</h3>
<p>
The Data Processor stores original and results files for up to 2 months only, after this period all files are automatically and permanently deleted.
<br>
Data Controller may delete their files at any time.
</p><br>


<h3>Personal Data Breach</h3>
<p>The Data Processor will notify the Data Controller about any Personal Data breaches – including but not limited to 
  accidental or unlawful access or disclosure - within 72 hours of becoming aware of the breach.</p><br>

<h3>Indemnity</h3>
<p>The Data Processor shall not be liable for any of the Data Controller’s claims, damages, losses, expenses, costs or other
  liability in the event of Personal Data breach or loss under any circumstances.</p><br>

<h3>Supervisory authorities</h3>
<p>The Data Processor agrees to coordinate with supervisory authorities.</p><br>


<h3>Termination</h3>
<p>Either party may terminate this agreement by giving each other 1 weeks notice in writing. If both parties agree to
  a new Data Protection Agreement, it is effective immediately after signature.</p><br>

<h3>Governing Law</h3>
<p>This agreement, and any dispute or claim arising out of or in connection with it shall be governed by the law of India.</p><br>

<h3>Contact us </h3>
<p>For questions or suggestions regarding our privacy policy, please contact us at:<br>
<strong>Phone:</strong> +91-9818966660<br>
<strong>Email:</strong> admin@elearning.org<br>
<strong>URL:</strong> {{crm_name}}<br>
</p>
        
        </div>
    </div>
   
  </div>
</section>
{% endblock %}
