{% extends "index.html" %}
{% load static %}
{% block main %}

<!-- Contact Us -->

<div class="container-fluid mt-5">
  <div class="row">
      <div class="col-md-12 mt-5">
        <div class="center">
            <div id="content" class="col-sm-12 mt-5">
                <div ng-if="showNavTabs" style="text-align: center;" class="ng-scope"><h4>Delivery Information</h4></div>

                <p class="mt-5"><b style=""><font color="#ffffff"><span style="background-color: rgb(57, 123, 33);">Refund and Cancellation Policy</span><br></font></b></p>
                <p>Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, 
                we will refund back the money, provided the reasons are genuine and proved after investigation. Please read 
                the fine prints of each deal before buying it, it provides all the details about the services or the 
                product you purchase.<br></p><p>In case of dissatisfaction from our services, clients have the liberty to 
                    cancel their order and request a refund from us. Our </p><p><b style="">
                <font color="#ffffff" style="background-color: rgb(57, 123, 33);">Policy for the cancellation and refund 
                will be as follows:</font></b><br></p><p style="text-align: justify; "><b>Cancellation Policy</b></p>
                <p>For Cancellations please contact us.</p><p><span style="color: rgb(34, 34, 34); font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 0.28px; margin-right: 0.2rem; font-size: 12px;">Email:</span>
                <span style="color: rgb(34, 34, 34); font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 
                0.28px; font-size: 12px;">support@sabzicart.com</span></p><p><span style="color: rgb(34, 34, 34); font-family: &quot;Work Sans&quot;, sans-serif; font-size: 12px; letter-spacing: 0.28px; margin-right: 0.2rem;">Call us:</span>
                    <span style="color: rgb(34, 34, 34); font-family: &quot;Work Sans&quot;, sans-serif; font-size: 12px; letter-spacing: 0.28px;">+91 9654738868</span>&nbsp;</p>
                <p><b>Refund Policy</b><br></p><p>We will try our best to create the suitable design concepts for our clients.
                    <br></p><p>In case any client is not completely satisfied with our products we can provide a refund.&nbsp;<br>
                </p><p>If paid by credit card, refunds will be issued to the original credit card provided at the time of 
                purchase and in case of payment gateway name payments refund will be made to the same account.<br></p><div>
                    <br>
                    <p>If you have any questions about this please contact us:</p><p style="margin-bottom: 0.6rem; font-size: 14px; color: rgb(34, 34, 34); line-height: 2.4rem; font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 0.28px;"><span style="font-weight: 600; margin-right: 0.2rem;">
                        Address:</span>C218, Sec-63, Noida, UP - 201301</p>
                      <p style="margin-bottom: 0.6rem; font-size: 14px; color: rgb(34, 34, 34); line-height: 2.4rem; font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 0.28px;">
                        <span style="font-weight: 600; margin-right: 0.2rem;">Email:</span>support@sabzicart.com</p>
                      <p style="margin-bottom: 0.6rem; font-size: 14px; color: rgb(34, 34, 34); line-height: 2.4rem; font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 0.28px;">
                      <span style="font-weight: 600; margin-right: 0.2rem;">Call us:</span>+91 9654738868</p><p><br></p>
                
                </div>
          </div>
        </div>
      </div>        
  </div>
</div>



{% endblock %}

