{% extends "index.html" %}
{% load static %}
{% block main %}

<!-- Contact Us -->

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <div class="center">
            <div id="content" class="col-sm-12">
                <h1>Site Map</h1>
                <div class="row">
                  <div class="col-sm-6">
                    <ul>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=60">Fruits</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=350">Spices</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=351">Dry fruits and nuts</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=18">Vegetables</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=80">Salads</a>
                                    </li>
                                </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                      <li><a href="https://www.sabzicart.in/index.php?route=product/special">Specials</a></li>
                      <li><a href="https://www.sabzicart.in/index.php?route=account/account">My Account</a>
                        <ul>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/edit">Account Information</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/password">Password</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/address">Address:</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/order">Order History</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/download">Downloads</a></li>
                        </ul>
                      </li>
                      <li><a href="https://www.sabzicart.in/index.php?route=account/order">View Cart</a></li>
                      <li><a href="https://www.sabzicart.in/index.php?route=checkout/checkout">Checkout</a></li>
                      <li><a href="https://www.sabzicart.in/index.php?route=product/search">Search</a></li>
                      <li>Information
                        <ul>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=4">About Us</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=6">Delivery Information</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/contact">Contact Us</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                </div>
  
        </div>
      </div>        
  </div>
</div>



{% endblock %}

