{% extends "index.html" %}
{% load static %}
{% block main %}

<!-- Contact Us -->

<div class="container-fluid mt-5">
  <div class="row">
      <div class="col-md-12 mt-5">
        <div class="center mt-5">
            <div id="content" class="col-sm-12 mt-5">
              <div ng-if="showNavTabs" style="text-align: center;" class="ng-scope"><h4>Site Mape</h4></div>

                <div class="row mt-5">
                  <div class="col-sm-6">
                    <ul>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=60">Fruits</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=350">Spices</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=351">Dry fruits and nuts</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=18">Vegetables</a>
                                    </li>
                                  <li><a href="https://www.sabzicart.in/index.php?route=product/category&amp;path=80">Salads</a>
                                    </li>
                                </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                      <li><a href="https://www.sabzicart.in/index.php?route=product/special">Specials</a></li>
                      <li><a href="https://www.sabzicart.in/index.php?route=account/account">My Account</a>
                        <ul>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/edit">Account Information</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/password">Password</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/address">Address:</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/order">Order History</a></li>
                          <li><a href="https://www.sabzicart.in/index.php?route=account/download">Downloads</a></li>
                        </ul>
                      </li>
                      <li><a href="https://www.sabzicart.in/index.php?route=account/order">View Cart</a></li>
                      <li><a href="https://www.sabzicart.in/index.php?route=checkout/checkout">Checkout</a></li>
                      <li><a href="https://www.sabzicart.in/index.php?route=product/search">Search</a></li>
                      <li>Information
                        <ul>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=4">About Us</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=6">Delivery Information</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
                                          <li><a href="https://www.sabzicart.in/index.php?route=information/contact">Contact Us</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  
                </div>
                <p>If you have any questions about this, please contact us:</p><p style="margin-bottom: 0.6rem; font-size: 14px; color: rgb(34, 34, 34); line-height: 2.4rem; font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 0.28px;"><span style="font-weight: 600; margin-right: 0.2rem;">
                  Address:</span>C218, Sec-63, Noida, UP - 201301</p>
                <p style="margin-bottom: 0.6rem; font-size: 14px; color: rgb(34, 34, 34); line-height: 2.4rem; font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 0.28px;">
                  <span style="font-weight: 600; margin-right: 0.2rem;">Email:</span>support@sabzicart.com</p>
                <p style="margin-bottom: 0.6rem; font-size: 14px; color: rgb(34, 34, 34); line-height: 2.4rem; font-family: &quot;Work Sans&quot;, sans-serif; letter-spacing: 0.28px;">
                <span style="font-weight: 600; margin-right: 0.2rem;">Call us:</span>+91 9654738868</p><p><br></p>
                </div>
  
        </div>
      </div>        
  </div>
</div>



{% endblock %}

