{% extends 'accounts/base.html'%}
{% load static %}
{% block main %}
<div class="container mt-5" style="margin-bottom:150px;">
    <div style="padding: 10px; box-shadow: 5px 10px 18px #888888; margin-bottom: 20px; border-radius: 4px;">
    
        <div class="col-md-6 block light text-center wow fadeInRightBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInRightBig;">
          <div class="center">	      
            <h3>Your password has been successfully save</h3>
         <p class="title form-inline"><a href="/accounts/register/user/">SignUp Now</a> | Return To <a href="/accounts/signin/" >Login</a> </p>
          </div>
        </div>

</div>
</div>
{% endblock %}
