{% load static %}
<link rel="stylesheet" href="{% static 'main/header.css' %}">
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
       <a href="/" class="logo mr-auto"><img src="{% static 'assets/images/sabzicart_logo.png' %}" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#growth">Growth</a></li>
          <li><a href="#growth">Income</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#facts">Why</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      {% if user.is_authenticated %}
      <a class="get-started-btn" href="/insite/">Dashboard</a>
      {% else %}
      <a href="accounts/register/user/" class="get-started-btn">Register</a>
      <a href="accounts/signin/" class="get-started-btn">Login</a>
      {% endif %}

    </div>
  </header>
